* text=auto !eol
antlibs/maven-ant-tasks-2.1.3.jar -text
/deploy.xml -text
/license.txt -text
/pom-sonar.xml -text
/pom.xml -text
src/main/java/ch/ivyteam/ivy/visualvm/ContentProvider.java -text
src/main/java/ch/ivyteam/ivy/visualvm/Installer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyApplicationType.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyApplicationTypeFactory.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyViewEmpty.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyViewHelper.java -text
src/main/java/ch/ivyteam/ivy/visualvm/IvyViewProvider.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/AbstractGaugePanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/AlignedXYChartsPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/ChartsPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/Query.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/QueryResult.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/RadialPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/SerieStyle.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/XYChartPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/AbstractExternalDbAndWebServiceDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/AttributeDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/DeltaAttributeDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/GaugeDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/HtmlSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/MeanDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/SerieDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/XYChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/externaldb/ExternalDbConnectionChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/externaldb/ExternalDbProcessingTimeChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/externaldb/ExternalDbTransactionChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/license/ConcurrentUsersChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/license/ConcurrentUsersGaugeDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/license/NamedUsersGaugeDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/request/ErrorChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/request/ProcessingTimeChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/request/RequestChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/request/SessionChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/AbstractChartLabelActionCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/AbstractChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/ChartLabelDivideCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/DeltaValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/LatestValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/MaxDeltaValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/MaxMeanDeltaValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/MaxValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/MeanDeltaValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/MeanTotalDeltaValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/support/StaticValueChartLabelCalcSupport.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/systemdb/ConnectionChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/systemdb/ProcessingTimeChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/systemdb/TransactionChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/webservice/WebServiceCallsChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/data/webservice/WebServiceProcessingTimeChartDataSource.java -text
src/main/java/ch/ivyteam/ivy/visualvm/chart/ui/RotateLabel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/exception/ClosedIvyServerConnectionException.java -text
src/main/java/ch/ivyteam/ivy/visualvm/exception/IvyJmxDataCollectException.java -text
src/main/java/ch/ivyteam/ivy/visualvm/exception/IvyVisualVMRuntimeException.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/ErrorMessage.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/model/IExecutionInfo.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/model/IvyApplicationInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/IvyJmxConstant.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/IvyLicenseInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/OSInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/RESTWebServiceInfo.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/model/SQLInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/ServerConnectorInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/model/SystemDatabaseInfo.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/AbstractExternalDbQueryBuffer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/BasicIvyJmxDataCollector.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/ExternalDbErrorQueryBuffer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/ExternalDbSlowQueryBuffer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/LicenseInfoCollector.java -text
src/main/java/ch/ivyteam/ivy/visualvm/service/restwebservice/AbstractRESTExecutionBuffer.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/service/restwebservice/RESTErrorExecutionBuffer.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/service/restwebservice/RESTSlowExecutiontBuffer.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/util/DataUtils.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/AbstractView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/AbtractWebServicesView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/DataBeanProvider.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/ExternalDbWsCommonPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/ExternalDbWsCommonPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/ExternalDbWsCommonView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/GenericData.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/HtmlLabelComponent.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/HtmlLabelPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/IUpdatableUIObject.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/InformationPanelTopComponent.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/InformationPanelTopComponent.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/InformationView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/LicenseInformationPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/LicenseInformationPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/LicenseView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/RequestView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/SOAPWebServicesView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/SystemDbView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/AbstractExternalDbQueriesPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/DateTableCellRenderer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/EvenOddCellRenderer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/ExternalDbErrorsPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/ExternalDbErrorsPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/ExternalDbSlowQueriesPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/ExternalDbSlowQueriesPanel.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/ExternalDbView.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/MultiLineMergeTableCellRenderer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/NumberTableCellRenderer.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/externaldb/TableColumnAdjuster.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/html/TableGenerator.java -text
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/AbstractRESTWebServiceExecutionPanel.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/RESTWebServiceErrorExecutionPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/RESTWebServiceErrorExecutionPanel.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/RESTWebServiceSlowExecutionPanel.form -text
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/RESTWebServiceSlowExecutionPanel.java -text svneol=unset#text/plain
src/main/java/ch/ivyteam/ivy/visualvm/view/restwebservice/RESTWebServicesView.java -text
src/main/nbm/manifest.mf -text
src/main/resources/ch/ivyteam/ivy/visualvm/Bundle.properties -text
src/main/resources/ch/ivyteam/ivy/visualvm/FormattedMessage.properties -text
src/main/resources/ch/ivyteam/ivy/visualvm/Message.properties -text
src/main/resources/ch/ivyteam/ivy/visualvm/chart/Bundle.properties -text
src/main/resources/ch/ivyteam/ivy/visualvm/view/Bundle.properties -text
src/main/resources/ch/ivyteam/ivy/visualvm/view/externaldb/Bundle.properties -text
src/main/resources/resources/icons/app_icon.png -text
src/main/resources/resources/icons/db_conf_recording_icon.png -text
src/main/resources/resources/icons/db_icon.png -text
src/main/resources/resources/icons/env_icon.png -text
src/main/resources/resources/icons/ext_db_icon.png -text
src/main/resources/resources/icons/info.png -text
src/main/resources/resources/icons/ivy16.png -text
src/main/resources/resources/icons/ivy16_old.png -text
src/main/resources/resources/icons/license.png -text
src/main/resources/resources/icons/license_error.png -text
src/main/resources/resources/icons/license_warning.png -text
src/main/resources/resources/icons/question16.png -text
src/main/resources/resources/icons/user_req.png -text
src/main/resources/resources/icons/web_services_icon.png -text
src/main/resources/resources/icons/ws_recording_icon.png -text
src/test/java/ch/ivyteam/ivy/visualvm/test/AbstractTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/DataUtilsTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/LicenseInfoTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/RemoteIvyVersionDetectTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/ServerInformationTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/VersionCompatibilitiesTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/data/JAXBUtils.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/data/model/BeanTestData.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ErrorQueryBufferTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ErrorQueryTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDBProcessingTimeChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbConnectionChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbTransactionChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbWsCommonPanelTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/SlowQueryBufferTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/SlowQueryTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externalws/ExternalWSCallChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/externalws/ExternalWSCallingTimeChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/license/ConcurrentUsersChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/license/ConcurrentUsersGaugeDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/license/NamedUsersGaugeDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/ErrorChartDataSourceNewTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/ErrorChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/ProcessingTimeChartDataSourceNewTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/ProcessingTimeChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/RequestChartDataSourceNewTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/RequestChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/request/SessionChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/AbstractChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/DeltaValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/LatestValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/MaxDeltaValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/MaxMeanDeltaValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/MaxValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/MeanDeltaFromBeginValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/MeanDeltaValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/support/StaticValueChartLabelCalcSupportTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDBProcessingTimeChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDbConnectionChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDbTransactionChartDataSourceTest.java -text
src/test/java/ch/ivyteam/ivy/visualvm/test/util/TestUtil.java -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/LicenseInfoTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/RemoteVersionDetectTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/ServerInformationTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/VersionCompatibilitiesTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/data/model/BeanTestData.xsd -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ComplicatedErrorTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ComplicatedSlowTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ErrorQueryTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbConnectionChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbProcessingTimeChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/ExternalDbTransChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externaldb/SlowQueryTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externalws/ExternalWSCallChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/externalws/ExternalWSCallingTimeChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/license/ConcurrentUsersChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/license/ConcurrentUsersGaugeDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/license/NamedUsersGaugeDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/ErrorChartDataSourceNewTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/ErrorChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/ProcessingTimeChartDataSourceNewTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/ProcessingTimeChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/RequestChartDataSourceNewTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/RequestChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/request/SessionChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDbConnectionChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDbProcessingTimeChartDataSourceTest.xml -text
src/test/resources/ch/ivyteam/ivy/visualvm/test/datasource/systemdb/SystemDbTransChartDataSourceTest.xml -text
